# Database version
version = 'classic'
versions = ['classic', 'tbc', 'wotlk', 'cata', 'mop']
# Database flavor
flavor = 'cmangos'
flavors = ['cmangos', 'mangos', 'trinity', 'skyfire']
# Toggle debug messages
debug = False
# MySQL information
dbInfo = {
    'host': 'localhost',
    'user': 'mangos',
    'password': 'mangos',
    'port': 3306,
    'cmangos': {
        'classic': 'classicmangos',
        'tbc': 'tbcmangos',
        'wotlk': 'wotlkmangos',
    },
    'mangos': {
        'cata': 'mangos3',
        'mop': 'mangos4',
    },
    'trinity': {
        'cata': 'world',
    },
    'skyfire': {
        'mop': 'skyfire',
    },
}
