# Which database to use, may also be passed as argument to the main script
# Accepts 'classic' or 'tbc'
version = 'classic'
# Toggle debug messages
debug = False
# MySQL information
dbInfo = {
    'host': 'localhost',
    'user': 'mangos',
    'password': 'mangos',
    'classic': 'classicmangos',
    'tbc': 'tbcmangos',
}
