{% extends 'map.html' %}

{% block content %}
<div class='header'><h1>{{npc.name}} ({{npc.id}})</h1></div>
<div class='col-2'>
    {% if data.hasSubName %}<h4>&lt;{{npc.subName}}&gt;</h4>{% endif %}
    <b>Level: </b> {{npc.minlevel}}{% if data.hasDifferentLevels %} - {{npc.maxlevel}}{% endif %}<br />
    <b>Health: </b> {{npc.minlevelhealth}}{% if data.hasDifferentLevels %} - {{npc.maxlevelhealth}}{% endif %}<br />
    <b>Rank: </b> {{data.ranks[npc.rank]}}<br />
    <b>Faction: </b> {{npc.faction}}<br />
    <b>Hostile to Alliance: </b> {{npc.hostileToA}}<br />
    <b>Hostile to Horde: </b> {{npc.hostileToH}}<br />
    <b>npcFlags: </b>
    <ul>
        {% for flag in data.activeFlags %}
        <li>{{flag}}</li>
        {% endfor %}
    </ul>
    {% if data.hasStart %}
    <b>Starts quest:</b>
    <ul>
        {% for quest in data.starts %}
        <li><a href='/quest/{{quest.id}}' title='Go to quest detail page'>{{quest.Title}} ({{quest.id}})</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if data.hasEnd %}
    <b>Finishes quest:</b>
    <ul>
        {% for quest in data.ends %}
        <li><a href='/quest/{{quest.id}}' title='Go to quest detail page'>{{quest.Title}} ({{quest.id}})</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class='col-6'>
    {{ super() }}
</div>
{% endblock %}
